.gameContainer {
    max-width: 80rem;
    height: 100vh;
    max-height: 65rem;
    display: grid;
    grid-template-areas:
        '   .    .       .'
        '.       player2 .'
        '.       center  .'
        'player3 center  player4'
        '.       center  .'
        'player5 center  player6'
        '.       center  .'
        'player1 player1 player1'
        'pairs   .      .'
        'cards   cards   cards';
    grid-template-columns: 8rem 1fr 8rem;
    grid-template-rows: 1fr 8rem 1fr 8rem 1fr 8rem 1fr 8rem auto auto;
    gap: 1rem;
    margin: 0 auto;
    & .center {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: center;
    }
}

.roomFullContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50rem;
    background-color: var(--white);
}
