.icon2 {
    position: relative;
    background: var(--camell);
    border-radius: 0.3rem;
    color: var(--cajeta);
    font-size: 1.6rem;
    padding: 1rem 1rem;
}

.container {
    width: 15rem;
    height: 10rem;
    background: var(--transparent-white);
}
