@import '../../../styles/_mixins.scss'; // Import mixins

.profileSettingsContainer {
    border-radius: inherit;
    display: grid;
    grid-template-areas:
        'subtitle'
        'img'
        'name-clan-container'
        'errors'
        'button'
        'success';
    justify-items: center;
    max-width: 55rem;
    width: 95%;

    & .subtitle {
        @include subtitle(2rem 0, center, 1.8rem, var(--camell));
        border-bottom: 2px solid var(--camell);
        border-top: 2px solid var(--camell);
        grid-area: subtitle;
        padding: 1rem 0;
        width: 100%;
    }

    & .settingImgContainer {
        align-items: center;
        display: flex;
        grid-area: img;
        justify-content: center;
        width: 100%;
        & .imgContainer {
            border-radius: 50%;
            border: 3px solid var(--gold);
            display: flex;
            height: 10rem;
            justify-content: center;
            margin-bottom: 2rem;
            width: 10rem;

            & > img {
                border-radius: inherit;
                height: 100%;
                width: 100%;
            }
        }
        & > i {
            background: none;
            background: var(--camell);
            color: var(--dark);
            cursor: pointer;
            height: 3rem;
            margin: 0;
            padding: 0;
            margin-left: 1rem;
            width: 3rem;
        }
    }

    & .nameClanContainer {
        display: flex;
        grid-area: name-clan-container;
        justify-content: center;
        padding: 0 1rem;
        width: 100%;

        & .usernameInput {
            background: none;
            background: var(--transparent-dark);
            color: var(--gold);
            font-size: 2rem;
            margin: 1rem;
            width: 80%;
        }

        & .corchete {
            color: var(--camell);
            font-size: 3rem;
            font-weight: bold;
            height: 2rem;
            margin: 0.5rem 0;
            text-align: center;
            text-shadow: 0 0 0.3rem var(--camell);
            width: 2rem;
        }

        & .clanInput {
            background: none;
            background: var(--transparent-dark);
            color: var(--gold);
            font-size: 2rem;
            margin: 1rem;
            width: 40%;
        }
    }

    & .errors {
        color: var(--google);
        grid-area: errors;
        text-align: center;
    }

    & .success {
        color: var(--gold);
        text-shadow: 0 0 3px var(--camell);
        grid-area: success;
        text-align: center;
        margin-bottom: 1rem;
    }

    & button {
        grid-area: button;
        margin: 2rem 0;
    }
}
