@import '../../../styles/mixins.scss';

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 70rem;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 10rem;

    & > h1 {
        @include title(3rem 0, center, 4rem, var(--camell));
    }
}
