.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 25rem;
  background: var(--purple);
  color: var(--camell);
  border-radius: 1rem;
  margin-top: 6rem;
  padding: 0 1rem;
  padding-top: 8.5rem;

  & img {
    position: absolute;
    top: -7rem;
    width: 15rem;
    height: 15rem;
  }

  & h2 {
    text-align: center;
    margin: 1rem 0;
  }
}

@media (min-width: 600px) {
  .cardContainer {
    width: 22rem;
    height: 30rem;

    & img {
      top: -8.5rem;
      width: 18rem;
      height: 18rem;
    }

    & h2 {
      font-size: 3.2rem;
      margin: 1rem 0;
    }
  }
}
@media (min-width: 730px) {
  .cardContainer {
    width: 25rem;

    & img {
      top: -10rem;
      width: 20rem;
      height: 20rem;
    }

    & h2 {
      font-size: 3.4rem;
      margin-top: 1rem;
    }
  }
}
