.cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20rem;
    height: 20rem;
    background: var(--purple);
    color: var(--camell);
    border-radius: 1rem;
    margin-top: 6rem;
    padding-top: 8.5rem;

    & img {
        position: absolute;
        top: -7rem;
        width: 15rem;
        height: 15rem;
    }
}
