.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > input {
    width: 70%;
    margin: 1rem 0;
    font-size: inherit;
    color: var(--white);
  }
  .rememberAcount {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    & i {
      padding: 0;
      margin: 0;
      background: none;
      font-size: 1.8rem;
    }
  }

  & > button {
    margin-top: 2rem;
  }

  & > .errorContainer {
    width: 100%;
    text-align: center;
    padding: 1rem;
    & > p {
      color: var(--camell);
    }
  }
}

.regContainer {
  margin-top: 2rem;
  & > p {
    color: var(--gold);
    font-size: 1.4rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.4rem var(--cajeta);

    & span {
      font-size: 1.6rem;
      color: var(--camell);
      cursor: pointer;
    }
  }
}

.otherAuthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;

  & > p {
    color: var(--gold);
    font-size: 1.8rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.4rem var(--cajeta);
  }

  .iconsContainer {
    padding: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    & > i {
      width: 8rem;
      height: 8rem;
      margin: 0 1.5rem;
      padding: 1.5rem;
      font-size: 5rem;
      color: var(--light-gray);
      box-shadow: 0px 0px 10px var(--dark);
      cursor: pointer;
      &:first-child {
        background: var(--google);
      }

      &:nth-child(2) {
        background: var(--facebook);
      }
    }
  }
}

.goldText {
  font-size: 1.4rem;
  color: var(--gold);
  text-align: center;
}

.messageGoogle {
  width: 90%;
  margin-top: 2rem;
  & > p {
    width: 90%;
    text-align: center;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    color: var(--camell);
    line-height: 1.4;
    & > span {
      color: var(--google);
      background: var(--dark);
      padding: 0.5rem;
      border-radius: 0.5rem;
      font-weight: 600;
    }
  }
}

@media (min-width: 768px) {
  .otherAuthContainer {
    .iconsContainer {
      & > i {
        width: 10rem;
        height: 10rem;
        font-size: 6rem;
      }
    }
  }
}
