.playerCardsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--transparent-white);
    grid-area: cards;
    padding: 0 0.5rem;

    & .card {
        width: 10rem;
        object-fit: contain;
        margin: 0.5rem 0;
    }
}
