@import '../../../styles/mixins.scss';

.mainContainer {
    display: grid;
    grid-template-areas:
        'menubar '
        'title'
        'carrousel';
    width: 100%;
    min-height: 62rem;
    height: calc(100vh - 4rem);
    grid-area: page;

    h1 {
        grid-area: title;
        @include title(2rem 0, center, 3rem, var(--camell));
        @media (min-width: 600px) {
            @include title(2rem 0, center, 4rem, var(--camell));
        }
        @media (min-width: 768px) {
            @include title(2rem 0, center, 4.5rem, var(--camell));
        }
    }
}
