@import '../../../styles/mixins.scss';

.mainContainer {
    display: grid;
    grid-template-areas:
        'menubar '
        'title'
        'carrousel'
        '.'
        '.';
    width: 100%;
    min-height: 100vh;

    h1 {
        grid-area: title;
        @include title(2rem 0, center, 3rem, var(--camell));
    }
}
