.closeContainer {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    max-width: 50rem;
    margin: 0 auto;

    & > p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        padding: 1.5rem;
        margin-bottom: 0.5rem;
        color: var(--light-gray);
        background: var(--dark);
        border-radius: 50%;
        border: 2px solid var(--light-gray);
        cursor: pointer;
    }
}

.createPasswordContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 50rem;
    min-height: 25rem;
    background: var(--dark);
    border: 0.3rem solid var(--light-gray);
    border-radius: 1rem;
    padding: 0.5rem;
    padding-bottom: 2rem;

    & > h2 {
        text-align: center;
        color: var(--light-gray);
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    & > p {
        width: 95%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.6rem;
        color: var(--light-gray);
        font-family: Arial, Helvetica, sans-serif;
        &:nth-child(3) {
            margin-bottom: 2rem;
        }
    }
}
