.mainContainer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    grid-area: navbar;
    height: 8rem;
    background: var(--transparent-white);

    & .active {
        & > i {
            color: var(--gold);
        }
    }
}
