.mainContainer {
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: 100%;
    height: 4rem;
    padding: 0.2rem 0;
    background: var(--transparent-white);

    & .active {
        & > i {
            color: var(--gold);
        }
    }
}
