.carrouselContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5rem;
    // overflow-x: scroll;
    // overflow-y: hidden;
    // scroll-snap-type: x mandatory;
    // scrollbar-width: thin;
    // scrollbar-color: #3a1638 transparent;
}
