.deckContainer {
    width: 11rem;
    border-radius: 0.5rem;
    & img {
        width: inherit;
        height: inherit;
        object-position: center;
        object-fit: cover;
        border-radius: inherit;
    }
}
