* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --dark: #232323;
    --purple: #3a1638;
    --transparent-white: #72717160;
    --light-gray: #cecdcd;
    --camell: #dfad3a;
    --cajeta: #8b6c22;
    --gold: #f6ec99;
    --green: #2c5c09;
    --dark-green: #114411;

    --main-font: 'Mochiy Pop P One', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--main-font);
}

a {
    text-decoration: none;
    color: var(--camell);
}

button {
    font-family: var(--main-font);
    border: none;
    background: none;
    cursor: pointer;
}
