* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --dark: #232323;
    --purple: #3a1638;
    --transparent-white: #72717160;
    --light-gray: #cecdcd;
    --camell: #dfad3a;
    --gold: #f6ec99;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Mochiy Pop P One', sans-serif;
}

a {
    text-decoration: none;
    color: var(--camell);
}
