* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --white: #ececec;
    --dark: #232323;
    --purple: #3a1638;
    --transparent-white: #72717160;
    --transparent-dark: rgba(39, 39, 39, 0.808);
    --blur: rgba(39, 39, 39, 0.5);
    --light-gray: #cecdcd;
    --camell: #dfad3a;
    --danger: #eb3e3e;
    --cajeta: #8b6c22;
    --gold: #f6ec99;
    --green: #2c5c09;
    --dark-green: #114411;
    --facebook: #3b5998;
    --google: #d34836;

    --main-font: 'Mochiy Pop P One', sans-serif;
    --text-font: 'Lato', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--main-font);
    background-image: linear-gradient(
        to left bottom,
        #39006d,
        #4e0071,
        #610174,
        #720676,
        #830e79
    );
}

a {
    text-decoration: none;
    color: var(--camell);
}

button {
    font-family: var(--main-font);
    border: none;
    background: none;
    cursor: pointer;
}

input {
    border: none;
    background: var(--transparent-white);
    outline: none;
    padding: 1rem 0 1rem 1rem;
}

input::placeholder {
    font-size: 1.6rem;
    color: var(--white);
}

.container-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
