.mainContainer {
    width: 100%;
    min-width: 28rem;
    background-image: linear-gradient(
        to left bottom,
        #39006d,
        #4e0071,
        #610174,
        #720676,
        #830e79
    );
}
